.about-heading {
  font-weight: bold;
  text-align: center;
  margin: 1rem;
}
.about-images > img {
  width: 250px;
}
.ncc-about {
  text-align: justify;
}
.about-heading2 {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid black;
  line-height: 0.1em;
  margin: 3rem auto;
}

.about-heading2 span {
  background: #f3f9ff;
  padding: 0 10px;
  font-weight: 700;
}
.activity {
  border-radius: 10px;
  background-color: #dee8f6;
  margin: 1rem auto;
}

.activity > img {
  height: 200px;
  width: fit-content;
}

.activity-content {
  width: 78%;
  margin-right: 0.5rem;
}
.activity-heading {
  text-align: center;
  border-bottom: 1px solid black;
}
.activity-description {
  width: 95%;
  text-align: justify;
  margin-bottom: 0.5rem;
}
.carousel-indicators [data-bs-target] {
  background-color: black;
}
.carousel-control-prev > i,
.carousel-control-next > i {
  color: black;
  font-size: 3rem;
}
.arrow > button {
  margin: 0px -3rem;
}
.carousel-indicators [data-bs-target]:not(.active) {
  opacity: 0.25;
}
.carousel-control-prev:not(.mobile) {
  justify-content: flex-start !important;
}
.carousel-control-next:not(.mobile) {
  justify-content: flex-end !important;
}
#activityCarousel2,
#nccImageCarousel,
.aboutheading2 {
  display: none;
}
#nccImageCarousel > .carousel-indicators [data-bs-target] {
  background-color: white;
}
#nccImageCarousel > .carousel-indicators {
  margin-bottom: 0px;
}
#nccImageCarousel > .carousel-inner > .carousel-item {
  text-align: center;
}
#nccImageCarousel > .carousel-inner > .carousel-item > img {
  width: 220px;
}
@media (max-width: 1030px) {
  .arrow > button {
    margin: 0px -2rem;
  }
}
@media (max-width: 992px) {
  .arrow > button {
    margin: 0px -3rem;
  }
}
@media (max-width: 760px) {
  #activityCarousel,
  .about-images,
  .about-heading:not(.aboutheading2) {
    display: none !important;
  }
  #activityCarousel2,
  #nccImageCarousel,
  .aboutheading2 {
    display: block;
  }
  .activity {
    background-color: transparent;
  }
  .activity-content {
    background-color: #dee8f6;
    border-radius: 10px;
  }
  .activity > img {
    width: 250px !important;
    height: 150px !important;
    margin-bottom: 1rem;
  }
  .arrow > button {
    margin: 0px 0rem;
  }
  .about-heading2{
      margin-bottom: 1.5rem;
  }
  .activity-heading{
      width: 80%;
      text-align: center;
  }
}
@media (max-width: 350px) {
  .carousel-control-prev.mobile {
    justify-content: flex-start !important;
  }
  .carousel-control-next.mobile {
    justify-content: flex-end !important;
  }
}
