.heading {
  text-align: center;
  text-transform: uppercase;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0em;
  font-size: 40px;
  line-height: 47px;
  margin: 0;
}
.line {
  background-color: #053d4d;
  width: 30%;
  height: 4px;
}
.nav-link {
  font-family: Raleway;
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0em;
}
.nav-tabs .nav-link.active,
.nav-tabs .show > .nav-link {
  color: white;
  background-color: #053d4d;
}
.nav-link:hover {
  color: black;
}
.nav-tabs li button {
  text-align: center;
}
.tab-content {
  display: block;
}
.section-1,
.section-2 {
  margin: 40px 0;
  flex-wrap: wrap;
}
.section-1 .item {
  text-align: center;
  background-color: white;
  border: 3px solid #222588;
  border-radius: 10px;
  padding: 10px;
}
.section-2 .item {
  text-align: center;
  background-color: white;
  border: 3px solid #222588;
  padding: 8px;
  margin: 8px 0px;
  border-radius: 10px;
}
.section-1 .name {
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
}
.section-1 .designation {
  font-size: 20px;
}
.section-1 .contact {
  font-family: Lato;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
}
@media only screen and (max-width: 1024px) {
  .heading {
    font-size: 30px;
    line-height: 35px;
  }
  .line {
    width: 25%;
    height: 3px;
  }
  .nav-link {
    font-size: 18px;
    line-height: 20px;
    text-align: left !important;
  }
}
@media only screen and (max-width: 760px) {
  .nav-tabs {
    flex-direction: column !important;
  }
  .heading {
    font-size: 16px;
    line-height: 19px;
  }
  .line {
    width: 20%;
    height: 2px;
  }
  .nav-link {
    font-size: 14px;
    line-height: 16px;
    text-align: left !important;
  }
  .section-1 .item {
    width: 100%;
    margin: 8px 0px;
  }
  .section-2 .item {
    margin: 8px auto;
  }
  .tab-content {
    display: none;
  }
}
