#title_footer {
  border-bottom: 2px solid black;
  padding-right: 1.5em;
  width: fit-content;
}
.element {
  max-width: fit-content;
}
a#content {
  text-decoration: none;
  color: #fffdfd;
}
.address {
  width: 12em;
}

a#logo1:hover > img {
  border-radius: 50%;
  background: rgb(0, 89, 255);
}
a#logo2:hover > img {
  border-radius: 50%;
  background: red;
}
a#logo3:hover > img{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  border-radius: 50%;
}
.navBar {
  background: rgba(22, 25, 130, 0.949);
  color: white;

}
.footer-copyright{
  margin-bottom: 0px;
}
.navbar-row{
  background-color: transparent;
}
.navLinks{
    width: 85%;
    margin: auto;
}
.navLinks li a{
    color: white !important;
    font-size: 20px;
}
.navLinks li a:hover{
    color: black !important;
    background: white;
    border-radius: 1rem;
}
.fitContent{
  width: fit-content;
}
@media (max-width: 950px){
    .element{
        padding: 0px;
    }
}
@media (max-width: 760px){
    .footerResponsive{
        flex-direction: column;
    }
    .element{
        padding: 1rem;
        max-width: 100%;
    }
}