.navBar {
    background: rgba(22, 25, 130, 0.949);
    color: white;
  }
  .navLinks li a{
      color: white !important;
      font-size: larger;
  }
  .navLinks li a:hover{
      color: black !important;
      background: white;
      border-radius: 1rem;
  }